name: Android Build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main"]

jobs:
  build:
     runs-on: ubuntu-latest

     steps:
        - name: Check out repository
          uses: actions/checkout@v2

        - name: Set up JDK 17
          uses: actions/setup-java@v2
          with:
            distribution: 'zulu' 
            java version: 17

        - name: make gradlew executable
          run: chmod +x gradlew

        - name: build with Gradle
          run:  ./gradlew assembleDebug
